################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectEvaluation
/.vs/Group_4_UV_SIM/FileContentIndex/2379e9c6-7a07-433f-9ead-4b02ead00b48.vsidx
/.vs/Group_4_UV_SIM/FileContentIndex

# Build results
bin/
obj/
.csproj.user
# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio
.vs/

# Rider
.idea/

# OS files
.DS_Store
Thumbs.db